<html>
    <head>
        <title>Reset password</title>
    </head>
    <body>
        <div>
            <p>We have received a request to reset your password. Click <a href="http://localhost:3000/account/password/new?token={{token}}" target="_blank">here</a> to set a new password for your account. If it wasn't you just ignore this email.</p>
        </div>
    </body>
</html>