name: Unit Tests

on:
  pull_request:
  push:
    branches: 
      - master
      - dev


jobs:    
  test:
    name: Running units tests
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./server
    services:
      postgres-tests:
        image: postgres:alpine
        env:
          POSTGRES_USER: tests
          POSTGRES_PASSWORD: tests
          POSTGRES_DB: postgres-tests
        ports:
          - 5431:5432
    steps:
    - uses: actions/checkout@v3
      name: Postgres setup
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
    - name: Install
      run: yarn
    - name: Test
      run: yarn test
    
